*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:#FDD36A ;

}


.container{

    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px 35px 35px;
    
    
}
.container.disable :where(.editor-panel, .rest-filtres, .save-img){
    opacity: 0.6;
    pointer-events: none;
}

.container .wrapper{
   display: flex;
   justify-content: center;
   align-items: center;

}
.wrapper .editor-panel{
    border: 1px solid black;
   width: 200px;
   height: 250px;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 0;
}

.container .wrapper .editor-panel .title{
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}
.editor-panel .options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.editor-panel button{
    height: 40px;
   font-size: 14px;
   color: #4F200D;
   margin-bottom: 8px;
   background-color: #fff;
  border:0.5px solid gray;
  border-radius: 4px;
 
}


.editor-panel .filter button{
    width: calc(100% / 2 - 4px);
}
.editor-panel button:hover{
    background: #fff;

}
.filter button:hover{
    background-color: #e8e8e8;

}

.filter button.active{
    background-color: #5373f0;;
    color: #fff6f6;
}
.filter .slider .filtre-info{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    
    color:#6c6c6c;
    margin-bottom: 5px;

}

.editor-panel .slider{
    margin-top: 12px;

}

.filter .slider input{
    width: 100%;
    height: 5px;
    margin-bottom: 15px;
    accent-color: #210062;
}

.editor-panel .rotate button{
    width: calc(100% / 4 - 3px);

}
.editor-panel .rotate button:hover{
    background-color: #e8e8e8;
}


.wrapper .previte-image{
    margin-left: 20px;
}



.previte-image img{
    max-width: 490px;
   max-height: 335px;
   width: 100%;
   object-fit: contain;
   padding: 19px 15px;

}
.wrapper .previte-image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container .wrapper .previte-image img{
    height: 350px;
    width: 350px;
    
 
}

.controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.controls button{
    padding: 11px;
    color: #fff;
    background-color: #fff;
    border-color:0.5px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.controls .rest-filtres{
    color: #6c6c6c;
    border: 1px solid gray;

}
.controls .choose-img{
  background: #656565;
  color: white;
    border: 1px solid gray;
}
.controls .save-img{
     background: #5373f0;
  color: white;
    border: 1px solid gray;
    margin-left: 5px;
}

@media screen and (max-width: 760px){ 
    .container{
        padding: 25px;
    }
    .container .wrapper{
        flex-wrap: wrap-reverse
    }
    .wrapper .editor-panel{
        width: 100%;
    }

    .wrapper .previte-image{
        width: 100%;
        margin: 0 0 15px;
    }

    
}

@media screen and (max-width:500px) {
    .controls button{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .controls .row{
        width: 100%;
    }

    .controls .row .save-img{
        margin-left: 0;
    }
}